{{ define "modal-seguidores" }}
<div class="modal safe" id="modal-seguidores">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Seguidores:</h2>
            </div>
            <div class="modal-body">
                {{ range . }}
                {{ if (eq .Bloqueado 1) }}
                <span> <i class="fa-solid fa-user-lock"></i></span>
                {{ end }}
                <a href="/usuarios/{{ .ID }}">{{ .Nick }}</a><br />
                {{ else }}
                <div class="text-muted text-center">
                    <h1>Nenhum seguidor por enquanto</h1>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}